<div class="row mb-3">
    <div class="col-xs-12">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <h2>Liste d'achat</h2>
        <div *ngIf="ingredients.length === 0">
            Aucun ingrédient dans la liste
        </div>
        <div class="list-group">
            <a class="list-group-item list-group-item-action" 
               style="cursor: pointer"
               *ngFor="let ingredient of ingredients; let i = index"
               (click)="onEditIngredient(i)"
            >
                {{ingredient.name}} ({{ingredient.quantity}}{{ingredient.unit}})
            </a>
        </div>
    </div>
</div>
<div class="row mb-3"
     *ngIf="ingredients.length > 0">
    <div class="col-xs-12">
        <button type="button"
                class="btn btn-danger"
                (click)="onClearIngredients()">Vider la liste</button>
    </div>
</div>
